<div *ngIf="tag" class="tag__container">
    <div class="tag__body">
        <p *ngIf="!editMode" class="tag__title">{{tag.tag}}</p>
        <div class="tag__edit" *ngIf="editMode">
            <input matInput [(ngModel)] = "tag.tag" type="text"  >
            <button button color="primary" (click)="edit()">OK</button>
        </div>
    </div>
    <div *ngIf="tag.id !=='root' && !disableEdit" class="tag__actions">
        <button mat-raised-button color="primary" (click)="toggleEdit()">Edit</button>
        <button mat-raised-button color="warn" (click)="remove()">Remove</button>
        <button mat-raised-button color="accent" (click)= "setActive()">Open</button>
    </div>
</div>